<form class="event-edit-form js-event-edit-form">
    <label for="event-title">Заголовок события</label>
    <input type="text" class="event-title-input js-event-title-input"
           id="event-title"
           name="title"
           placeholder="Заголовок"
           autocomplete="off"
            <% if(disabled) { %>
           readonly
            <% } %>
    >

    <label for="event-comment">Комментарий</label>
    <textarea class="event-comment-textarea js-event-comment-textarea" id="event-comment" name="comment"
            <% if(disabled) { %>
              readonly
            <% } %>
    ></textarea>

    <button class="event-save-button js-event-save-button" type="submit"
            <% if(disabled) { %>
            disabled
            <% } %>
    >
        Сохранить
    </button>

    <a href="#" class="event-cancel-link js-event-cancel-link"
            <% if(disabled) { %>
       disabled
            <% } %>
    >
        Отмена
    </a>

    <button class="event-delete-button js-event-delete-button" type="button"
            <% if(disabled) { %>
            disabled
            <% } %>
    >
        Удалить
    </button>
</form>