@import '~webui-popover/dist/jquery.webui-popover.min.css';
@import '~jquery-ui/themes/base/draggable.css';
@import '~jquery-ui/themes/base/resizable.css';

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#schedule {
  .clear {
    clear: both;
    height: 0;
    line-height: 0;
  }

  .sc_menu {
    width: 100%;
  }

  .sc_menu .sc_header_cell {
    float: left;
  }

  .sc_menu .sc_header {
    float: left;
    height: 40px;
    margin-left: 160px;
    position: relative;
    overflow: hidden;
  }

  .sc_menu .sc_header .sc_time {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    border-left: solid 1px #bbb;
    background: #5ba0e4;
  }

  .sc_menu .sc_header .sc_time .time-data {
    position: relative;
    z-index: 30;

    & > span {
      float: left;
      width: 24px;
      border-right: 1px solid #676767;
      font-size: 12px;
      color: #fff;

      &:last-child {
        border-right: none;
      }

      :first-child {
        width: 23px;
      }
    }
  }

  .sc_menu .sc_header .sc_time.past-time {
    background: #afafaf;
  }

  .sc_menu .sc_header_cell,
  .sc_data {
    float: left;
    font-weight: bold;
    color: #FFFFFF;
    background: #555;
    position: relative;
  }

  .sc_data {
    background-color: #afafaf;
    color: #FFF;
  }

  .sc_menu .sc_header_scroll,
  .sc_data .sc_data_scroll {
    position: absolute;
    left: 0;
    top: 0;
  }

  .sc_menu .sc_header_cell,
  .sc_header .sc_time,
  .sc_main_scroll .sc_time {
    color: #FFFFFF;
    padding: 4px 0;
    display: block;
  }

  .sc_header .sc_time,
  .sc_main_scroll .sc_time {
    float: left;
  }

  .sc_main_box,
  .sc_data {
    max-height: 500px;
    overflow: hidden;
  }

  .sc_main_box {
    float: left;
    overflow-x: auto;
    overflow-y: auto;
  }

  .sc_main_scroll {
  }

  .sc_main {
    position: relative;
  }

  .timeline {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .sc_bar {
    position: absolute;
    color: #FFF;

    background: #67c559;
    cursor: pointer;
    z-index: 10;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    border-right: 4px solid #419d2c;
    transition: box-shadow 0.15s ease;

    &.in-edit {
      background: #d4cd60;
      border-right-color: #a89b36;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    }

    &.ui-draggable-dragging {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    &.past-event {
      background: #7b858c;
      border-right-color: #7b858c;
      box-shadow: none;
      &.in-edit {
        background: #859198;
        border-right-color: #859198;
      }
    }

    .text {
      display: block;
      padding: 5px 10px 0;
      font-weight: bold;
      height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-shadow: 1px 1px 1px #444;
    }

    .head {
      display: block;
      padding: 6px 8px 0;
      font-size: 12px;
      height: 16px;
      overflow: hidden;
      text-shadow: 1px 0 1px #444;
    }
  }


  .ui-draggable-dragging,
  .ui-resizeable {
    z-index: 20;
  }

  .timeline,
  .sc_main .tb {
    border-bottom: solid 2px #d0d0d0;
  }

  .sc_data .timeline {
    overflow: hidden;
  }

  .sc_data .timeline span {
    padding: 10px;
    display: block;
  }

  .sc_data .timeline span.photo {
    float: left;
    width: 36px;
    height: 36px;
    padding: 10px 0 10px 10px;
  }

  .sc_data .timeline span.title {
    float: left;
    padding: 10px 0 10px 10px;
    width: 92px;
  }

  .sc_main_scroll .sc_main {
  }

  .sc_main_scroll .sc_main .tl {
    float: left;
    height: 100%;
    border-right: solid 1px #CCC;
  }

  .sc_main_scroll .sc_main .tl.marked-for-new-event {
    background-color: #f7ff84 !important;
    border-right: solid 1px #f7ff84;
  }

  .sc_main_scroll .sc_main .tl:hover:not(.create-disabled) {
    background: #feffd9;
  }

  .sc_main_scroll .sc_main .tl.create-disabled {
    background: #e4e4e4;
  }
}

.minutes-percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #afafaf;
  z-index: 20;
}

.event-edit-form > * {
  box-sizing: border-box;
}

.event-edit-form > button {
  text-shadow: 1px 1px 0 #555;
}

.event-title-input,
.event-comment-textarea {
  display: block;
  width: 100%;
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid #bbb;
  margin: 5px 0 15px;
}

.event-save-button,
.event-delete-button {
  padding: 5px 12px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.event-cancel-link {
  font-size: 12px;
  float: left;
  margin-left: 5px;
  color: #79b3d0;
  padding: 5px 7px;

  &:hover {
    color: #5984bb;
  }
}

.event-save-button {
  float: left;
  background-color: rgba(20, 180, 20, 1);

  &:hover {
    background-color: rgba(20, 160, 20, 1);
  }
}

.event-delete-button {
  float: right;
  padding: 5px 7px;
  background-color: rgb(220, 79, 82);

  &:hover {
    background-color: rgb(220, 58, 63);
  }
}

.event-edit-form button[disabled],
.event-edit-form a[disabled]{
  cursor: default;
  pointer-events: none;
  display: none;
}

.current-time-mark {
  position: absolute;
  top: 0;
  z-index: 9990;
  height: 100%;
  border-right: 1px solid red;
  box-shadow: 0 0 1px red;
}